<div class="w-72 mt-2">
    <form
        class="search-gif-form relative w-full min-w-[200px] h-10"
        [formGroup]="gifForm"
        (ngSubmit)="onSearch()">
        <label for="gif">
            <p class="hidden">Search</p>
            <input
                class="w-full h-full bg-[#fbf6f5] outline outline-0 focus:outline-0 transition-all text-sm px-3 py-2.5 rounded-[7px]"
                type="text"
                id="gif"
                name="gif"
                placeholder="Search gifs"
                formControlName="name" />
        </label>
    </form>
</div>
